@import "null.css";


@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}

main{
 max-width: 1025px;
margin-top: 100px ;
margin-left: 207px;
/* background-color: aqua; */

}
h2{
    font-family: "CircularStd";
font-weight: 900;
   text-align: center;
margin-bottom: 20px;
font-style: normal;
font-size: 65px;
line-height: 82px;
text-align: center;
color: #313131;

}
.main-2{
    
    max-width: 750px;
 text-align: center;
}
.main-3{
max-width: 508px;
margin-top: 224px;
}
.main-3-1{
margin-bottom: 20px;
font-family: "CircularStd";
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 130%;
text-align: left;
}
.main-3-2{
margin-bottom: 60px;
font-family: "CircularStd";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
text-align: left;


}
.main-3-3{
background-color: blueviolet;
}
.main-3-3-1{
margin-bottom: 40px;
display: flex;
letter-spacing: 50px;
}
.main-3-3-2{
}
.main-3-3-2-1{
margin-bottom: 5px;
font-family: Circular Std;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
text-align: left;

}
.main-3-3-2-2{
font-family: Circular Std;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
text-align: left;


.main-4{}

}
footer{
    width: 100px;
    height: 100px;
}